# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
dist/
*.egg-info/
*.db
*.sqlite3
.venv
env/
venv/
*.log

# IDEs
.vscode/
.idea/

# Jupyter Notebook
.ipynb_checkpoints

# Archivos temporales y de caché
.pytest_cache/
.mypy_cache/
.pyre/
.pytype/
.ruff_cache/

.env
.pylintrc